body {
    background-color: #222629;
    font-family: 'Kanit', sans-serif;
    overflow-x: hidden;
}





/* Fancy Underline */
a.keyWord {
    color: #3AAFA9;
    position: relative;
    text-decoration: none;
}
a.keyWord::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #3AAFA9;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}
a.keyWord:hover:before {
    visibility: visible;
    transform: scaleX(1);
}





/* Navbar Toggle Icon */
.navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(58, 175, 169, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
.navbar-dark .navbar-toggler {
    color: #3AAFA9;
    border-color: #3AAFA9;
    outline: none;
}





/* Rows */
.eachRow {
    padding: 250px 0;
}



#jb_logo {
    width: 40px;
}



/* Navbar */
#mainNavbar {
    font-size: 1rem;
    /* background-color: #222629; */
    background-color: rgba(34, 38, 41, .98);
    box-shadow: 0px 0px 10px 1px rgba(58, 175, 169, .5);
}
#mainNavbar .nav-link {
    color: #FEFFFF;
    transition: color .5s;
}
#mainNavbar .nav-link:hover {
    color: #3AAFA9;
}
#mainNavbar .nav-link span {
    color: #3AAFA9;
}
#mainNavbar .navbar-brand {
    color: #3AAFA9;
    font-size: 1.5rem;
}





/* Resume Button */
#resumeBtn {
    color: #3AAFA9;
    border-color: #3AAFA9;
    transition: background-color 1s, color 1s, border 1s;
}
#resumeBtn:hover {
    background-color: rgb(58, 175, 169, .2);
}





/* Intro Section */
#sectionIntro h1{
    color: #3AAFA9;
    font-size: 2em;
    padding-bottom: 20px;
}
#sectionIntro h2{
    color: #FEFFFF;
    font-size: 4em;
}
#sectionIntro h3{
    color: #aaaaaa;
    font-size: 3.9em;
    padding-bottom: 20px;
}
#sectionIntro p{
    color: #aaaaaa;
    font-size: 1.25em;
    padding-bottom: 40px;
}





/* About Section */
#sectionAbout h1{
    color: #3AAFA9;
    font-size: 3em;
    padding-bottom: 20px;
}
#sectionAbout p{
    color: #aaaaaa;
    font-size: 1.25em;
    padding-bottom: 40px;
}





/* Skills Section */
#sectionSkills h1{
    color: #3AAFA9;
    font-size: 3em;
    padding-bottom: 20px;
}
#sectionSkills p{
    color: #aaaaaa;
    font-size: 1.25em;
    padding-bottom: 40px;
}





/* Projects Section */
#sectionProjects h1{
    color: #3AAFA9;
    font-size: 3em;
    padding-bottom: 20px;
}
#sectionProjects p{
    color: #aaaaaa;
    font-size: 1.25em;
    padding-bottom: 40px;
}





/* Contact Section */
#sectionContact h1{
    color: #3AAFA9;
    font-size: 3em;
    padding-bottom: 20px;
}
#sectionContact p{
    color: #aaaaaa;
    font-size: 1.25em;
    padding-bottom: 40px;
}





/* Get In Touch Button */
#getInTouch{
    color: #3AAFA9;
    text-decoration: none;
    border: solid 1px #3AAFA9;
    padding: 15px 15px;
    transition: background-color 1s;
    border-radius: 10px;
}
#getInTouch:hover{
    background-color: rgb(58, 175, 169, .2);
}





/* About Me Section Heading */
#aboutMe {
    color: #FEFFFF;
}



/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .eachRow {
        padding: 200px 20px;
        padding-bottom: 50px;
    }

    #sectionIntro {
        padding: 20px 0px;
    }
    #sectionIntro h1 {
        font-size: 1.5rem;
        margin: 0px 0px 8px;
        padding: 0px 0px;
    }
    #sectionIntro h2 {
        font-size: 2rem;
    }
    #sectionIntro h3 {
        font-size: 2rem;
    }
    #sectionIntro p {
        font-size: 1.1rem;
    }
    #getInTouch {
        font-size: 1.25rem;
    }

    .leftCol, .rightCol {
        padding: 0;
        margin: 0;
    }

    a.nav-link {
        font-size: 1.2rem;
        text-align: center;
        /* padding-left: 70%; */
        padding-top: 10px;
        padding-bottom: 10px;
    }

    #top-link {
        padding-top: 25px;
    }
    #resumeBtn {
        font-size: 1.2rem;
        align-items: center;
    
    }

    li.nav-item {
        text-align: center;
    }

    ul {
        margin-right: 0px;
    }

    #sectionAbout h1{
        font-size: 1.75em;
    }
    #sectionAbout p{
        font-size: 1.1rem;
    }


    #sectionSkills h1{
        font-size: 1.75em;
    }
    #sectionSkills p{
        font-size: 1.1rem;
    }


    #sectionProjects h1{
        font-size: 1.75em;
    }
    #sectionProjects p{
        font-size: 1.1rem;
    }


    #sectionContact h1{
        font-size: 1.75em;
    }
    #sectionContact p{
        font-size: 1.1rem;
    }

    

}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {

}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
    
}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
    #skills {
        font-size: 100px;
    }
}

/* Removes <br> from screens small and up */
@media(min-width: 575.98px){
    .brSM {
        display: none;
    }
}