body {
    background-color: #222629;
    font-family: 'Kanit', sans-serif;
    overflow-x: hidden;
}


#mainNavbar {
    font-size: 1rem;
    background-color: #222629;
    box-shadow: 0px 0px 10px 1px rgba(58, 175, 169, .5);
    /* box-shadow: 0px 0px 10px 1px rgb(34, 38, 41, .5); */
}

#mainNavbar .nav-link {
    color: #FEFFFF;
    transition: color .5s;
}

#mainNavbar .nav-link:hover {
    color: #3AAFA9;
}

#mainNavbar .nav-link span {
    color: #3AAFA9;
}

#resumeBtn {
    color: #3AAFA9;
    border-color: #3AAFA9;
    transition: background-color 1s, color 1s, border 1s;
    

}

#resumeBtn:hover {
    background-color: rgb(58, 175, 169, .2);
    /* color: #FEFFFF;
    border-color: #FEFFFF; */

}
#resumeBtn:active {
    box-shadow: none;
    color: #af3a3a;
    border-color: #ff0000;
}

#mainNavbar .navbar-brand {
    color: #3AAFA9;
    font-size: 1.5rem;
}


#sectionIntro h1{
    color: #3AAFA9;
    font-size: 1.5em;
    padding-bottom: 20px;
}
#sectionIntro h2{
    color: #FEFFFF;
    font-size: 4em;
}
#sectionIntro h3{
    color: #aaaaaa;
    font-size: 4em;
    padding-bottom: 20px;
}
#sectionIntro p{
    color: #aaaaaa;
    font-size: 1em;
    padding-bottom: 40px;
}
#getInTouch{
    color: #3AAFA9;
    text-decoration: none;
    border: solid 1px #3AAFA9;
    padding: 15px 15px;
    transition: background-color 1s;
    border-radius: 10px;
}

#getInTouch:hover{
    background-color: rgb(58, 175, 169, .2);
}

.eachRow {
    padding: 250px 0;
}

#aboutMe {
    color: #FEFFFF;
}

a.keyWord {
    color: #3AAFA9;
    position: relative;
    text-decoration: none;
}
a.keyWord::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #3AAFA9;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}
a.keyWord:hover:before {
    visibility: visible;
    transform: scaleX(1);
}





/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .eachRow {
        padding: 200px 20px;
        padding-bottom: 50px;
    }

    /* #firstRow {
        padding: 200px 20px;
    } */
    #sectionIntro {
        padding: 20px 0px;
        /* margin: 0px 100px; */
    }
    #sectionIntro h1 {
        font-size: 1.25rem;
        /* font-weight: 100; */
        margin: 0px 0px 8px;
        padding: 0px 0px;
    }
    #sectionIntro h2 {
        font-size: 2rem;
    }
    #sectionIntro h3 {
        font-size: 2rem;
    }
    #sectionIntro p {
        font-size: 1rem;
    }
    #getInTouch {
        font-size: 1.25rem;
    }

    .leftCol, .rightCol {
        padding: 0;
        margin: 0;
    }

    /* a.keyWord {
        font-size: 5rem;
    } */

}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {

}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {

}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {

}

